:root {
    /* Primary */
    --primary-900: #233876;
    --primary-800: #1E429F;
    --primary-700: #1A56DB;
    --primary-600: #1C64F2;
    --primary-500: #3F83F8;
    --primary-400: #76A9FA;
    --primary-300: #A4CAFE;
    --primary-200: #C3DDFD;
    --primary-100: #E1EFFE;
    --primary-50: #EBF5FF;

    /* Gray */
    --gray-900: #111928;
    --gray-800: #1F2A37;
    --gray-700: #374151;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
    --gray-400: #9CA3AF;
    --gray-300: #D1D5DB;
    --gray-200: #E5E7EB;
    --gray-100: #F3F4F6;
    --gray-50: #F9FAFB;

    /* Blue */
    --blue-900: #233876;
    --blue-800: #1E429F;
    --blue-700: #1A56DB;
    --blue-600: #1C64F2;
    --blue-500: #3F83F8;
    --blue-400: #76A9FA;
    --blue-300: #A4CAFE;
    --blue-200: #C3DDFD;
    --blue-100: #E1EFFE;
    --blue-50: #EBF5FF;

    /* Red */
    --red-900: #771D1D;
    --red-800: #9B1C1C;
    --red-700: #C81E1E;
    --red-600: #e02424;
    --red-500: #F05252;
    --red-400: #F98080;
    --red-300: #F8B4B4;
    --red-200: #FBD5D5;
    --red-100: #FDE8E8;
    --red-50: #FDF2F2;

    /* Orange */
    --orange-900: #771D1D;
    --orange-800: #8A2C0D;
    --orange-700: #B43403;
    --orange-600: #D03801;
    --orange-500: #FF5A1F;
    --orange-400: #FF8A4C;
    --orange-300: #FDBA8C;
    --orange-200: #FCD9BD;
    --orange-100: #FEECDC;
    --orange-50: #FFF8F1;

    /* Yellow */
    --yellow-900: #633112;
    --yellow-800: #723B13;
    --yellow-700: #8E4B10;
    --yellow-600: #9F580A;
    --yellow-500: #C27803;
    --yellow-400: #E3A008;
    --yellow-300: #FACA15;
    --yellow-200: #FCE96A;
    --yellow-100: #FDF6B2;
    --yellow-50: #FDFDEA;

    /* Green */
    --green-900: #014737;
    --green-800: #03543F;
    --green-700: #046C4E;
    --green-600: #057A55;
    --green-500: #0E9F6E;
    --green-400: #31C48D;
    --green-300: #84E1BC;
    --green-200: #BCF0DA;
    --green-100: #DEF7EC;
    --green-50: #F3FAF7;

    /* Teal */
    --teal-900: #014451;
    --teal-800: #05505C;
    --teal-700: #036672;
    --teal-600: #047481;
    --teal-500: #0694A2;
    --teal-400: #16BDCA;
    --teal-300: #7EDCE2;
    --teal-200: #AFECEF;
    --teal-100: #D5F5F6;
    --teal-50: #EDFAFA;

    /* Indigo */
    --indigo-900: #362F78;
    --indigo-800: #42389D;
    --indigo-700: #5145CD;
    --indigo-600: #5850EC;
    --indigo-500: #6875F5;
    --indigo-400: #8DA2FB;
    --indigo-300: #B4C6FC;
    --indigo-200: #CDDBFE;
    --indigo-100: #E5EDFF;
    --indigo-50: #F0F5FF;

    /* Purple */
    --purple-900: #4A1D96;
    --purple-800: #5521B5;
    --purple-700: #6C2BD9;
    --purple-600: #7E3AF2;
    --purple-500: #9061F9;
    --purple-400: #AC94FA;
    --purple-300: #CABFFD;
    --purple-200: #DCD7FE;
    --purple-100: #EDEBFE;
    --purple-50: #F6F5FF;

    /* Pink */
    --pink-900: #751A3D;
    --pink-800: #99154B;
    --pink-700: #BF125D;
    --pink-600: #D61F69;
    --pink-500: #E74694;
    --pink-400: #F17EB8;
    --pink-300: #F8B4D9;
    --pink-200: #FAD1E8;
    --pink-100: #FCE8F3;
    --pink-50: #FDF2F8;
}