:root {

    --background: var(--gray-50);
    /* Text */
    --text-title: var(--gray-900);
    --text-subtitle: var(--gray-600);
    --text-action: var(--blue-600);
    --text-body: var(--gray-700);
    --text-caption: var(--gray-500);
    --text-disabled: var(--gray-400);
    --text-link: var(--blue-600);
    --text-link-hover: var(--blue-700);

    /* Surface */
    --surface-default: var(--gray-50);
    --surface-subtle: var(--gray-100);
    --surface-elevation: var(--gray-50);
    --surface-card: var(--gray-50);
    --surface-card-hover: var(--gray-100);

    /* Actions */
    --action-default: var(--blue-600);
    --action-hover: var(--blue-700);
    --action-pressed: var(--blue-800);
    --action-disabled: var(--gray-200);

    /* Border */
    --border-lighter: var(--gray-200);
    --border-default: var(--gray-300);
    --border-darker: var(--gray-400);

    /* Radius */
    --radius-small: 4px;
    --radius-default: 8px;
    --radius-large: 16px;

    --card: var(--gray-100);
    --border: #d1d5db;
    --radius: 8px;


    /* Console */
    --background-console: var(--gray-200);
    --text-console: var(--gray-800);
}

:root.dark {

    --background: #111827;

    /* Text */
    --text-title: var(--gray-50);
    --text-subtitle: var(--gray-400);
    --text-action: var(--blue-400);
    --text-body: var(--gray-400);
    --text-caption: var(--gray-400);
    --text-disabled: var(--gray-600);
    --text-link: var(--blue-400);
    --text-link-hover: var(--blue-500);

    /* Surface */
    --surface-default: var(--gray-900);
    --surface-subtle: var(--gray-800);
    --surface-elevation: var(--gray-700);
    --surface-card: var(--gray-800);
    --surface-card-hover: var(--gray-700);

    /* Actions */
    --action-default: var(--blue-500);
    --action-default-rgb: rgb(63, 131, 248);
    --action-hover: var(--blue-600);
    --action-pressed: var(--blue-600);
    --action-disabled: var(--gray-700);

    /* Border */
    --border-lighter: var(--gray-500);
    --border-default: var(--gray-600);
    --border-darker: var(--gray-800);

    /* Radius */
    --radius-small: 4px;
    --radius-default: 8px;
    --radius-large: 16px;

    --card: var(--gray-800);
    --border: #374151;
    --radius: 8px;

    /* Console */
    --background-console: var(--gray-800);
    --text-console: var(--gray-200);
}

:root,
:root.dark-theme {
    transition: all 0.3s ease-in-out;
}