@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: monospace;
}

.dark{
    color: white;
}

.dark button:hover{
   background-color: rgba(255, 255, 255, 0.151);
}

.light{
    color: #202020;
}